.outer-div{
	text-align: center;
	background-color: gray;
	
	
	position:relative;
	font-size:30px;
	}

.inner-div{
	
	width:98%;
	position:relative;
	top:7%;
	
	}
span{
                color: black; 
                font-style: italic;
                font-size: 10;
                float: right;
                vertical-align: bottom;
         
}

a{
                color: black; 
                font-style: italic;
                font-size: 10;
                float:;
                vertical-align: top;
}

.outer-div2{
	text-align: center;
	background-color: gray;
	
	position:relative;
	top:20px;
	font-size:30px;
	}

.inner-div2{
	
	width:98%;
	position:relative;
	top:20px;
	
	}


.outer-div3{
	text-align: center;
	background-color: gray;
	
	position:relative;
	top:20px;
	font-size:30px;
	}

.inner-div3{
	
	width:98%;
	position:relative;
	top:20px;
	
	}
#foot{	
	text-align:center;
	top:13px;
	position:relative;
	
}

#mutu{
	font-size:30px;
	font-family:monospace;
	text-align:center;
	padding-bottom:5px;
	
}