#head{
	width:50%;
	text-align:center;
	color:black;
	font-size:40px;
	position:absolute;
	left:20%;
	top:10%;
	background-color:white;
	
	}	

#signin{
	background-color:skyblue;
	width:50%;
	border:3px solid green
	margin:auto;
	text-align:center;
	padding:10px;
	position:fixed;
	top:18%;	
	left:20%;
	
		//curved div
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;

	}
.curve{
	border-top-left-radius:25px ;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;

	height:30px;
	font-size:12pt;
	
	
	}
#body{
	background:url('pics/back.jpg');
	background:cover;
	repeat:none;
	}

.info{
	border-top-left-radius:25px ;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;

	height:30px;
	font-size:12pt;

	}
/*
	background:url("hotel1.jpg");
	height:200px;
	background-position:center;
	background-repeat: no-repeat;
	backdrop-filter:blur(20px);

*/

#foot{
	text-align:center;
	top:500px;
	position:relative;	
}